
	<!-- Footer -->
	<footer class="clearfix">
        <div class="content-width">
		<div class="inner_container clearfix">
			<div class="get_in_touch">
				<h4>
					Get in touch
				</h4>
					<p>
						Any questions? Let us know by calling or texting (+353) 87 352 8937, email tides.eu@gmail.com or by using the form on the contact page.
					</p>
                    <!--social media - icons from fontawesome-->
					<div class="social">
						<a href="#" class="color_pink fa fa-facebook"></a>
						<a href="#" class="color_pink fa fa-instagram"></a>
						<a href="#" class="color_pink fa fa-pinterest-p"></a>
					</div>
				
			</div>
			
			<div class="upload">
				<h4>
					If you loved our work show us what worked best 
				</h4>
				<p>The best photo will receive a TIDES special gift.</p>
			    <p>We already anounced this month's winner but it's never to early to start submitting for next month's draw.</p>
			    
			</div>
		</div>
        </div>
	</footer>

<script type="text/javascript" src="../style.js"></script>
</body>
</html>